<div class="characters-menu-container">
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <button class="add_character">
      <img class="plus" src="assets/plus.svg" alt="Add Character">
    </button>
    <hr class="transparent">
    <hr class="transparent">
    <hr class="transparent">
    <hr class="transparent">
</div>
