.characters-menu-container{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8vh;
}

.plus{
  height: 100%;
  width: 100%;
}

.add_character{
  width: 70%;
  height: 90%;
}

.add_character:hover{
  cursor: pointer;
}

button{
  background-color: transparent;
  border: none;
}



