<div class="characters-menu-container">
  <app-top-bar></app-top-bar>
  <div class="lower-container">
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <button class="add_character">
      <img class="plus" src="assets/plus.svg" alt="Add Character">
    </button>
    <hr class="transparent_hr">
    <hr class="transparent_hr">
    <hr class="transparent_hr">
    <hr class="transparent_hr">
  </div>
</div>
