<div class="container">
<!--  <a href="/character" target="popup" onclick="openNewWindow('/character','width=600,height=600')">-->
  <a href="/character" target="popup" onclick="window.open('/character','popup','width=600,height=600'); return false;">
    <button class="character_button">
      <img src="../../../assets/images/placeholder-avatar.jpg" alt="Not Found" onerror="this.src = 'assets/placeholder-avatar.jpg'">
    </button>
  </a>
  <div class="character_summary">
    Name-placeholder<br>
    Race-placeholder<br>
    Profession-placeholder
  </div>
</div>

