<div class="attributes-menu-container">
  <app-top-bar></app-top-bar>
  <div class="lower-container">
    <app-attribute-summary></app-attribute-summary>
    <app-attribute-summary></app-attribute-summary>
    <app-attribute-summary></app-attribute-summary>
    <app-attribute-summary></app-attribute-summary>
    <app-attribute-summary></app-attribute-summary>
    <app-attribute-summary></app-attribute-summary>
    <app-attribute-summary></app-attribute-summary>
    <app-attribute-summary></app-attribute-summary>
  </div>
</div>
