<div class="container">
  <div class="top-bar">
    <img class="WH_logo" src="assets/WH_logo.svg" alt="Warhammer Fantasy">
    <div class="profile_images">
      <button class="logout_button">
        <img class="logout" src="assets/logout.png" alt="Log out">
      </button>
      <button class="User_button">
        <img class="User_avatar" src="assets/placeholder-avatar.jpg" alt="User avatar">
      </button>
    </div>
  </div>
  <div class="second-bar">
    <a href="/characters">
      <button class="context-menu-button">Characters</button>
    </a>
    <a href="/races">
      <button class="context-menu-button">Races</button>
    </a>
    <a href="/professions">
      <button class="context-menu-button">Professions</button>
    </a>
    <a href="/skills">
      <button class="context-menu-button">Skills</button>
    </a>
    <a href="/abilities">
      <button class="context-menu-button">Abilities</button>
    </a>
    <a href="/attributes">
      <button class="context-menu-button">Attributes</button>
    </a>
    <div class="filter_menu">
      <app-filter-menu></app-filter-menu>
    </div>
  </div>
</div>

