<div class="container">
    <div class="text">

      <div class="login info">
        <div class="details">
          <p>Login:</p>
          <p class="bold">Your Login</p>
        </div>
        <div class="input-container">
          <input type="text" placeholder="New Login">
          <button>Change Login</button>
        </div>
      </div>

      <div class="nickname info">
        <div class="details">
          <p>Nickname:</p>
          <p class="bold">Your Nickname</p>
        </div>
        <div class="input-container">
          <input type="text" placeholder="New Nickname">
          <button>Change Nickname</button>
        </div>
      </div>

      <div class="email info">
        <div class="details">
          <p>Email:</p>
          <p class="bold">Your Email</p>
        </div>
        <div class="input-container">
          <input type="text" placeholder="New Email">
          <button>Change Email</button>
        </div>
      </div>

      <div class="password">
        <div class="input-container">
          <input type="text" placeholder="New Password">
          <button>Change Password</button>
        </div>
      </div>

      <button class="delete">DELETE</button>

    </div>

    <div class="avatar">
      <img src="assets/images/placeholder-avatar.jpg" alt="USER_AVATAR">
      <input type="file" accept="image/*">
      <button>Save</button>
    </div>
</div>
