$gray: #343A40;
$orange: #D17513;

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.avatar{
  display: flex;
  flex-direction: column;
}

.details{
  display: flex;
  flex-direction: row;
  margin-bottom: 8vh;
  font-size: large;
}

.password{
  display: flex;
  margin-bottom: 8vh;
  justify-content: flex-end;
}

.margined{
  margin-right: 2vw;
}

.save-change-button{
  width: 50%;
  align-self: center;
}

input{
  margin-bottom: 2vh;
  height: 3.5vh;
}

button{
  background-color: $gray;
  border: none;
  color: white;
}

.delete:hover{
  background-color: red;
  color: black;
}

.delete{
  height: 10vh;
  width: 15vw;
  align-self: center;
}

.user-avatar{
  margin-bottom: 2vh;
}
