<div class="container">

    <div class="text">

      <div class="login info">
        <div class="details">
          <p class="margined">Login:</p>
          <p class="bold">Your Login</p>
        </div>
        <div class="input-container">
          <input type="text" placeholder="New Login">
          <button class="save-change-button">Change Login</button>
        </div>
      </div>

      <div class="nickname info">
        <div class="details">
          <p class="margined">Nickname:</p>
          <p class="bold">Your Nickname</p>
        </div>
        <div class="input-container">
          <input type="text" placeholder="New Nickname">
          <button class="save-change-button">Change Nickname</button>
        </div>
      </div>

      <div class="email info">
        <div class="details">
          <p class="margined">Email:</p>
          <p class="bold">Your Email</p>
        </div>
        <div class="input-container">
          <input type="text" placeholder="New Email">
          <button class="save-change-button">Change Email</button>
        </div>
      </div>

      <div class="password">
        <div class="input-container">
          <input type="text" placeholder="New Password">
          <button class="save-change-button">Change Password</button>
        </div>
      </div>

      <button class="delete">DELETE ACCOUNT</button>

    </div>

    <div class="avatar">
      <img class="user-avatar" src="assets/images/placeholder-avatar.jpg" alt="USER_AVATAR">
      <input type="file" accept="image/*">
      <button class="save-change-button">Save</button>
    </div>
</div>
