$orange: #D17513;
$gray: #343A40;

.container{
  display: flex;
  flex-direction: row;
}

.search-button{
  background-color: $orange;
  border: none;
  margin-right: 1vw;
}

.filter-button{
  background-color: $orange;
  border: none;
}

button:hover{
  border: solid 0.1vh white;
}
