.container{
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  margin-bottom: 5vh;
}

.top{
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
  font-size: large;
  font-weight: bold;
}

.bottom{
  margin-bottom: 2vh;
}

.specialization{
  font-size: medium;
}
