<div class="container">
  <div class="top">
    <p class="margined bold large">Name</p>
    <p class="margined bold large">(Attribute)</p>
    <p class="margined large">Basic/Advanced</p>
    <p class="large">Group/or not</p>
  </div>
  <div>
    <p>Description -  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut turpis vitae dolor consequat scelerisque.
      Maecenas felis ante, porta non consectetur vitae, sollicitudin ac risus. Donec dignissim est ut leo maximus, sit amet faucibus est scelerisque.
      Donec ac sapien vel libero suscipit mattis in at dui. Sed ullamcorper nisi mauris, tempus elementum dolor volutpat sed. Quisque luctus,
      eros scelerisque faucibus tempus, sem ex eleifend felis, at auctor ex mauris mollis neque. Ut vel volutpat dui.

      Etiam pharetra turpis metus, nec suscipit nisl vulputate sit amet.
      Proin venenatis elit eu lacinia mollis. Integer non libero et erat convallis fermentum sit amet ut felis.
      Maecenas convallis feugiat congue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Morbi ligula odio, dictum quis velit in, convallis condimentum eros. Fusce a nisl eget leo consectetur accumsan non nec sapien.
      Duis in eleifend nulla. Sed pellentesque nibh non sapien aliquam consectetur. Etiam volutpat a tortor ac fringilla. Vivamus varius urna nisl,
      sit amet consequat quam tempor id. Curabitur quis urna ex. Mauris placerat metus ac arcu laoreet, sit amet vestibulum ex condimentum. </p>
  </div>
  <div class="specialization large">
    <p class="bold large specialization-text">Specializations: </p>
    <p class="large">Lorem Ipsum, lorem ipsum, lorem ipsum</p>
  </div>
</div>
