<div class="abilities-menu-container">
  <app-top-bar></app-top-bar>
  <div class="lower-container">
    <app-ability-summary></app-ability-summary>
    <hr>
    <app-ability-summary></app-ability-summary>
    <hr>
    <app-ability-summary></app-ability-summary>
    <hr>
    <app-ability-summary></app-ability-summary>
    <hr>
    <app-ability-summary></app-ability-summary>
    <hr>
    <app-ability-summary></app-ability-summary>
    <hr>
    <app-ability-summary></app-ability-summary>
    <hr>
    <app-ability-summary></app-ability-summary>
    <hr>
    <app-ability-summary></app-ability-summary>
    <hr class="transparent">
  </div>
</div>
