<div class="container">

  <div class="login-container">

    <div class="logo-container">
      <img class="logo" src="../../../assets/images/WH_logo.svg" alt="WH_logo.svg">
    </div>

    <form #userForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-input">
          <input type="login" id="login" name="login" class="form-control " placeholder="Login">
      </div>

      <div class="form-input">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
      </div>


      <div class="login-button-container">
        <button type="submit">Login</button>
      </div>

      <div class="member">
        Nie masz konta? <a href="register"> Zajerestruj się!</a>
      </div>
    </form>
  </div>

</div>
