<div class="container">

  <div class="login-container">

    <div class="logo-container">
      <img class="logo" src="../../../assets/images/WH_logo.svg" alt="WH_logo.svg">
    </div>

    <form #userForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="login-input">
          <input type="login" id="login" name="login" class="form-control " placeholder="Login"
                 [(ngModel)]="authRequest.login"
                 required #login="ngModel"
          >
      </div>

      <div class="password-input">
        <input type="password" id="password" name="password" class="form-control" placeholder="*******"
                 [(ngModel)]="authRequest.password"
                 required #password="ngModel"
        >
      </div>


      <div class="login-button-container">
        <button type="submit">Login</button>
      </div>

      <div class="member">
        Nie masz konta? <a href="register"> Zajerestruj się!</a>
      </div>
    </form>
  </div>

</div>
