<div class="main-menu-container">
    <div class="top-bar">
      <img class="WH_logo" src="../../../assets/images/WH_logo.svg" alt="Warhammer Fantasy">
      <div class="profile_images">
        <a href="/login">
          <button class="logout_button" (click)="logout()">
            <img class="logout" src="../../../assets/images/logout.png" alt="Log out">
          </button>
        </a>
        <button [ngClass]="{'active' : currentPage === 'user'}" class="User_button" (click)="handleCurrentPageChange('user')">
          <img class="User_avatar" src="../../../assets/images/placeholder-avatar.jpg" alt="User avatar">
        </button>
      </div>
    </div>
    <div class="second-bar">

        <button [ngClass]="{'active' : currentPage === 'characters'}" class="context-menu-button" (click)="handleCurrentPageChange('characters')">Characters</button>
        <button [ngClass]="{'active' : currentPage === 'races'}" class="context-menu-button" (click)="handleCurrentPageChange('races')">Races</button>
        <button [ngClass]="{'active' : currentPage === 'professions'}" class="context-menu-button" (click)="handleCurrentPageChange('professions')">Professions</button>
        <button [ngClass]="{'active' : currentPage === 'talents'}" class="context-menu-button" (click)="handleCurrentPageChange('talents')">Talents</button>
        <button [ngClass]="{'active' : currentPage === 'abilities'}" class="context-menu-button" (click)="handleCurrentPageChange('abilities')">Abilities</button>
        <button [ngClass]="{'active' : currentPage === 'attributes'}" class="context-menu-button" (click)="handleCurrentPageChange('attributes')">Attributes</button>

      <div class="filter_menu">
        <app-filter-menu></app-filter-menu>
      </div>
    </div>
  <div class="lower-container">

    <div *ngIf="currentPage==='characters'">
      <app-characters-menu></app-characters-menu>
    </div>

    <div *ngIf="currentPage==='races'">
      <app-races-menu></app-races-menu>
    </div>

    <div *ngIf="currentPage==='professions'">
      <app-professions-menu></app-professions-menu>
    </div>

    <div *ngIf="currentPage==='talents'">
      <app-talents-menu></app-talents-menu>
    </div>

    <div *ngIf="currentPage==='abilities'">
      <app-abilities-menu></app-abilities-menu>
    </div>

    <div *ngIf="currentPage==='attributes'">
      <app-attributes-menu></app-attributes-menu>
    </div>

    <div *ngIf="currentPage==='user'">
      <app-user-settings-menu></app-user-settings-menu>
    </div>
  </div>

  <div class="main-img-container" *ngIf="currentPage===''">
    <img class="main-img" src={{imgPath}} alt="Warhammer Fantasy">
  </div>
</div>
