<div class="container">
  <img src="assets/placeholder-avatar.jpg">
  <div class = "text">
    <div class="info">
      <p class="Name">Name</p>
      <p class="Description">Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae nisl convallis, mattis elit quis, ultrices dui. Quisque vitae facilisis turpis. Fusce nec fermentum mauris, quis imperdiet enim. Duis et ornare ipsum. Nunc vehicula eros sit amet dolor dictum porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sed nisi ligula. Cras ut efficitur metus, sit amet auctor mauris. Morbi mollis, dolor euismod convallis ornare, orci est tempor ante, nec lobortis turpis urna nec dolor. </p>
    </div>
    <div class="details">
      <div class="attributes">
        <p class="title bold">Attributes</p>
        <table class="attributes-table">
          <tr>
            <th>first attri</th>
            <th>second attri</th>
            <th>third attri</th>
          </tr>
          <tr>
            <td>*</td>
            <td>***</td>
            <td>**</td>
          </tr>
        </table>
      </div>

      <div class="abilities">
        <p class="title bold">Abilities</p>
        <ul class="abilities-list">
          <li>Lorem</li>
          <li>Ipsum</li>
          <li>Dolorem</li>
          <li>Est</li>
        </ul>
      </div>

      <div class="talents">
        <p class="title bold">Talents</p>
        <ul class="talents-list">
          <li>Lorem</li>
          <li>Ipsum</li>
          <li>Dolorem</li>
          <li>Est</li>
        </ul>
      </div>

      <div class="equipment">
        <p class="title bold">Equipment</p>
        <ul class="equipment-list">
          <li>Lorem</li>
          <li>Ipsum</li>
          <li>Dolorem</li>
          <li>Est</li>
        </ul>
      </div>

    </div>
  </div>
</div>
