<div class="container">
  <p class="Name">Name</p>
  <p class="Description">Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut turpis vitae dolor consequat scelerisque.
    Maecenas felis ante, porta non consectetur vitae, sollicitudin ac risus. Donec dignissim est ut leo maximus, sit amet faucibus est scelerisque.
    Donec ac sapien vel libero suscipit mattis in at dui. Sed ullamcorper nisi mauris, tempus elementum dolor volutpat sed.
    Quisque luctus, eros scelerisque faucibus tempus, sem ex eleifend felis, at auctor ex mauris mollis neque. Ut vel volutpat dui. </p>
</div>
