$orange: #D17513;
$gray: #343A40;

$gradient1:#b76b1b;
$gradient2:#9d6123;
$gradient3:#83572b;
$gradient4:#694d33;
$gradient5:#4f433b;

$linear-gradient-top: linear-gradient($orange,$orange,$orange, $gradient1, $gradient2, $gradient3,$gradient4);
$linear-gradient-bottom: linear-gradient($gradient4,$gradient5 , $gray, $gray, $gray);

.main-menu-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-bar{
  background-image: $linear-gradient-top;
  position: fixed;
  height: 12vh;
  width: 100%;
  top:0;
  left:0;
}

.WH_logo{
  height: 7vh;
  padding-left: 2vw;
  padding-top: 2vh;
  float: left;
}

.profile_images{
  float:right;
  text-align: center;
}

.logout_button{
  position: absolute;
  top: 30%;
  left: 87%;
}

.logout_button:hover{
  opacity: 50%;
}

.logout{
  height: 5vh;
}

button{
  background-color: transparent;
  border: none;
}

.User_button{
  width: fit-content;
  height: fit-content;
  margin-right: 2vw;
  margin-top: 1vh;
}

.User_button:hover{
  opacity: 50%;
}

.User_avatar{

  height: 10vh;
}

.second-bar{
  background-image: $linear-gradient-bottom;
  color: white;
  position: fixed;
  height: 10vh;
  width: 100%;
  top:12vh;
  left:0;
  border-bottom: 0.2vw solid black;
}

.context-menu-button{
  background: none;
  color: white;
  height: 100%;
  width: 8%;
  border-top: none;
  border-left: none;
  border-bottom: none;
  text-align: left;
  padding-left: 1vw;
  font-size: 0.8vw;
}

.context-menu-button:hover{
  background: blue;
}

.filter_menu{
  float: right;
  position: absolute;
  top: 40%;
  right: 20%;
}

.characters{
  position: fixed;
  top:22.3vh;
  left: 0;

  width: 90%;
  height: 73%;

  padding-right: 5vw;
  padding-top: 4vh;

  margin-left: 5vw;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8vh;

  overflow-y: scroll;
  overflow-x: hidden;
}

.plus{
  height: 100%;
  width: 100%;
}

.add_character{
  width: 70%;
  height: 90%;
}

.add_character:hover{
  opacity: 50%;
}



