<div class="main-menu-container">
  <div class="top-bar">
    <img class="WH_logo" src="assets/WH_logo.svg" alt="Warhammer Fantasy">
    <button class="User_button" src="">
      <img class="User_avatar" src="assets/placeholder-avatar.jpg" alt="User avatar">
    </button>
  </div>
  <div class="second-bar">
    <button class="context-menu-button">Button</button>
    <button class="context-menu-button">Button</button>
    <button class="context-menu-button">Button</button>
  </div>
  <div class="characters">

  </div>
</div>
