<div class="main-menu-container">
  <div class="top-bar">
    <img class="WH_logo" src="assets/WH_logo.svg" alt="Warhammer Fantasy">
    <div class="profile_images">
      <button class="logout_button">
        <img class="logout" src="assets/logout.png" alt="Log out">
      </button>
      <button class="User_button">
        <img class="User_avatar" src="assets/placeholder-avatar.jpg" alt="User avatar">
      </button>
    </div>
  </div>
  <div class="second-bar">
    <button class="context-menu-button">Characters</button>
    <button class="context-menu-button">Races</button>
    <button class="context-menu-button">Professions</button>
    <button class="context-menu-button">Skills</button>
    <button class="context-menu-button">Abilities</button>
    <div class="filter_menu">
      <app-filter-menu></app-filter-menu>
    </div>
  </div>
  <div class="characters">
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <app-functional-character-miniature></app-functional-character-miniature>
    <button class="add_character">
      <img class="plus" src="assets/plus.svg" alt="Add Character">
    </button>
  </div>
</div>
