$orange: #D17513;
$gray: #343A40;

$gradient1:#b76b1b;
$gradient2:#9d6123;
$gradient3:#83572b;
$gradient4:#694d33;
$gradient5:#4f433b;

$linear-gradient-top: linear-gradient($orange,$orange,$orange, $gradient1, $gradient2, $gradient3,$gradient4);
$linear-gradient-bottom: linear-gradient($gradient4,$gradient5 , $gray, $gray, $gray);

.main-menu-container{
  display: flex;
  flex-direction: column;
}

.top-bar{
  background-image: $linear-gradient-top;
  position: fixed;
  height: 12vh;
  width: 100%;
  top:0;
  left:0;
}

.WH_logo{
  height: 7vh;
  padding-left: 2vw;
  padding-top: 2vh;
  float: left;
}

.User_button{
  float: right;
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
}

.User_button:hover{
  opacity: 50%;
}

.User_avatar{
  padding-right: 2vw;
  padding-top: 1vh;
  height: 10vh;
}

.second-bar{
  background-image: $linear-gradient-bottom;
  color: white;
  position: fixed;
  height: 10vh;
  width: 100%;
  top:12vh;
  left:0;
}

.context-menu-button{
  background: none;
  color: white;
  height: 100%;
  width: 8%;
  border-top: none;
  border-left: none;
  border-bottom: none;
  text-align: left;
  padding-left: 1vw;
  font-size: 0.8vw;
}

.context-menu-button:hover{
  background: blue;
}

.separator{
  position: fixed;
  top:23vh;
  left:0;
  width: 100%;
  height: 1vh;
  background-color: black;
}

.characters{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


