/* You can add global styles to this file, and also import other style files */
$background-color: #D9C09C;
$testing-background: rgba(230, 170, 206, 0.1);
$font: Garamond, serif;

html{
  background-color: $background-color;
}

*{
  font-family: $font;
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
}

.lower-container{
  position: fixed;
  top:22.3vh;
  left: 0;

  width: 90%;
  height: 74%;

  padding-right: 5vw;
  padding-top: 4vh;

  margin-left: 5vw;

  overflow-y: scroll;
}

.transparent{
  color: transparent;
}

.bold{
  font-weight: bold;
}
