<div class="attributes-menu-container">
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
    <hr>
    <app-attribute-summary></app-attribute-summary>
</div>
