<div class="container">

  <div class="login-container">

    <div class="logo-container">
      <img class="logo" src="../../../assets/images/WH_logo.svg" alt="WH_logo.svg">
    </div>

    <form class="mx-1 mx-md-4" #userForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-input">
        <input type="email" id="email" name="email" class="form-control" placeholder="Email"
               [(ngModel)]="user.email"
               required #email="ngModel"/>
      </div>

      <div class="form-input">
        <input type="nickname" id="nickname" name="nickname" class="form-control " placeholder="Nickname">
      </div>

      <div class="form-input">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
               [(ngModel)]="user.password"
               required #password="ngModel"/>
      </div>

      <div class="form-input">
        <input type="password" id="form3Example4cd" class="form-control" placeholder="Repeat password"

        />
      </div>

      <div class="register-button-container">
        <button type="submit">Register</button>
      </div>

      <div class="member">
        Masz już konto? <a href="login"> Zaloguj się!</a>
      </div>
    </form>
  </div>

</div>
