<div class="container">

  <div class="login-container">

    <div class="logo-container">
      <img class="logo" src="../../../assets/images/WH_logo.svg" alt="WH_logo.svg">
    </div>

    <div class="login-input">
      <input type="text" placeholder="login">
    </div>

    <div class="nickname-input">
      <input type="text" placeholder="nickname">
    </div>

    <div class="email-input">
      <input type="text" placeholder="email">
    </div>

    <div class="password-input">
      <input type="text" placeholder="password">
    </div>

    <div class="repeat-password-input">
      <input type="text" placeholder="repeat password">
    </div>

    <a href="/main" class="register-button-container">
      <button class="register-button">REGISTER!</button>
    </a>

    <a href="/login" class="register">Jeżeli masz konto zaloguj się!</a>
  </div>

</div>
