<div class="container">
  <p class="bold large">{{talent.name}}</p>

  <div *ngIf="talent.tests" class="tests large">
    <p class="bold large tests-text">Testy: </p>
    <p>{{talent.tests}}</p>
  </div>

  <div class="maksimum large">
    <p class="bold maksimum-text">Maksimum: </p>
    <p>{{talent.maxBuyable}}</p>
  </div>

  <div class="second-row">
    <p></p>
  </div>

  <div class="bottom">
    <p>{{talent.description}}</p>
  </div>

  <div *ngIf="talent.specializations" class="specialization large">
    <p class="bold large specialization-text">Specializacje: </p>
    <p>{{talent.specializations}}</p>
  </div>


</div>

