<div class="container">
  <p class="bold large">{{talent.name}}</p>
  <div class="tests large">
    <p class="tests-text">Tests: </p>
    <p>{{talent.tests}}</p>
  </div>
  <div class="maksimum large">
    <p class="maksimum-text bold">Maksimum: </p>
    <p>{{talent.maxBuyable}}</p>
  </div>

  <div class="second-row">
    <p></p>
  </div>
  <div class="bottom">
    <p>{{talent.description}}</p>
  </div>
  <div class="specialization large">
    <p class="bold large specialization-text">Specializations: </p>
    <p class="large">{{talent.specializations}}</p>
  </div>
</div>

