.container{
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  margin-bottom: 2vh;
}

.top{
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
}

.bottom{
  margin-bottom: 2vh;
}

.margined{
  margin-right: 0.5vw;
}

.specialization{
  margin-top: 1vh;
  display: flex;
}

.specialization-text{
  margin-right: 0.3vw;
}
