<div class="container">
  <div class="info-grid">


    <div class="input-container">
      <div class="bold login">
        Login
      </div>
      <input type="text">
      <button>Save</button>
    </div>

    <div class="input-container">
      <div class="bold login">
        Nickname
      </div>
      <input type="text">
      <button>Save</button>
    </div>

    <div class="input-container">
      <div class="bold login">
        Email
      </div>
      <input type="text">
      <button>Save</button>
    </div>

    <div class="input-container">
      <div class="bold login">
        Password
      </div>
      <input type="text">
      <button>Save</button>
    </div>

  </div>

  <div class="avatar-input">
    <img src="assets/images/placeholder-avatar.jpg" alt="USER_AVATAR">
    <input type="file" accept="image/*">
    <button>Save</button>
  </div>

  <button class="delete-button bold">DELETE ACCOUNT</button>

</div>
